.Navigation {
    margin-bottom: 20px;
}

.Navigation .Brand {
    color: white;
    font-size: 25px;
    margin-top: -20px;
}

.Navigation .NavLink {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -25px ;
    margin-left: 10px;
    background-color: #a21e5afc;
    padding: 4px;
    border-radius: 5px;
}

.Navigation .NavLink:hover {
    color: wheat;
}

.active{
    text-shadow: 1px 1px gray;
    color: wheat;
}